.dropdownMenu {
  z-index: 999;
  position: absolute;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background: #fff;
  padding: 8px 0;
  max-width: 300px;
}

.fullWidth {
  min-width: 100%;
}

.leftAligned {
  left: 0;
}

.rightAligned {
  right: 0;
}
