.container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin: 2px;
}

.option {
  display: flex;
  align-items: center;
  padding: 4px;
  margin: 2px;
  border: 1px solid #bebebe;
  background: #e5e5e5;
  border-radius: 2px;
  user-select: none;
}

.label {
  font-size: 11px;
  color: #4b4c4d;
  margin-right: 4px;
}

.search {
  border: 0;
  flex-grow: 1;
  background: transparent;
  width: 10px;
  padding: 4px;
  font-size: 12px;
  outline: none;
}
